{% extends 'login.html' %}
{% load static %}


{% block main %}

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Change Password</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->


	<!--================Signup Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<!-- <div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="">
						<div class="hover">
							<h4>Already have an account?</h4>
							<a class="primary-btn" href="{% url 'logIn' %}">Log In</a>
						</div>
					</div> -->
				<!-- </div> -->
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Change password</h3>
						<form class="row login_form" action="" method="post" id="contactForm" novalidate="novalidate">
							{% csrf_token %}
							{% if messages %}
							{% for message in messages %}
								<div class="alert text-danger alert-{{message.tags}}" role="alert">
									{{ message }}
								</div>
							{% endfor %}
							{% endif %}

							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="name" name="newPass" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter New Password'">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="name" name="confirmPass" placeholder="Confirm Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirm Password'">
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Signup Box Area =================-->
	{% endblock main %}
