{% extends 'index.html' %}
{% load static%}





	<!-- Start Header Area -->
	{% block navbar %}

	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="{% url 'home' %}"><img style="height: 90px;" src="{% static 'img/log/social.jfif' %}" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
							<li class="nav-item"><a href="{% url 'productList' %}" class="nav-link">Shop</a>
								<!-- <ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="category.html">Shop Category</a></li>
									<li class="nav-item"><a class="nav-link" href="single-product.html">Product Details</a></li>
									<li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a></li>
									<li class="nav-item"><a class="nav-link" href="cart.html">Shopping Cart</a></li>
									<li class="nav-item"><a class="nav-link" href="confirmation.html">Confirmation</a></li>
								</ul> -->
							</li>
							
							<!-- <li class="nav-item"><a href="{% url 'productList' %}" class="nav-link">Female</a> -->
								<!-- <ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="blog.html">Women</a></li>
									<li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
								</ul> -->
							<!-- </li> -->
							<li class="nav-item">
								<a href="{% url 'wishlist' %}" class="nav-link">Wishlist</a>
								<!-- <ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
									<li class="nav-item"><a class="nav-link" href="tracking.html">Tracking</a></li>
									<li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
								</ul> -->
							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item nav-link"><a href="{% url 'cart' %}" class="cart"><span class="ti-bag"></span></a></li>
							<!-- <li class="nav-item nav-link">
								<button class="search "><span class="lnr lnr-magnifier" id="search"></span></button>
							</li> -->

							{% if user.is_authenticated %}
							<li class="nav-item dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false"><span class="ti-user"></span></a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="{% url 'user_profile' %}">Profile</a></li>
									<li class="nav-item px-2"><a class="nav-link" href="{% url 'logout' %}">Log out</a></li>
								</ul>
							</li>

							{% else %}
							<li class="nav-item"><a href="{% url 'logIn' %}" class="nav-link"><span>Login</span></a>

							{% endif %}


						</ul>
						
					</div>
				</div>
			</nav>
		</div>
		<!-- <div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between">
					<input type="text" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div> -->
	</header>
	{% if messages %}
	{% for message in messages %}
		<div class="alert text-danger alert-{{message.tags}}" role="alert">
			{{ message }}
		</div>
	{% endfor %}
	{% endif %}
	{% endblock navbar %}

	<!-- End Header Area -->

	{% block main %}


	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Confirmation</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Confirmation</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Order Details Area =================-->
	<section class="order_details section_gap">
		<div class="container">
			<h3 class="title_confirmation">Thank you. Your order has been received.</h3>
			<div class="row order_d_inner">
				<div class="col-lg-6">
					<div class="details_item">
						<h4>Order Info</h4>
						<ul class="list">
							<li><a href="#"><span>Order number</span> : {{order.id}}</a></li>
							<li><a href="#"><span>Date</span> : {{order.created_at}}</a></li>
							<li><a href="#"><span>Total</span> : Rs {{order.total_price}}</a></li>
							<li><a href="#"><span>Payment method</span> : {{order.payment_mode}}</a></li>
						</ul>
					</div>
				</div>
<!-- 
				<div class="col-lg-6">
					<div class="details_item">
						<h4>Shipping Address</h4>
						<ul class="list">
							<li><a href="#"><span>State</span> : {{address.state}}</a></li>
							<li><a href="#"><span>City</span> : {{address.city}}</a></li>
							<li><a href="#"><span>Country</span> : {{address.country}}</a></li>
							<li><a href="#"><span>Postcode </span> : {{address.pincode}}</a></li>
						</ul>
					</div>
				</div> -->
			</div>
			<div class="order_details_table">
				<h2>Order Details</h2>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Product</th>
								<th scope="col">Quantity</th>
								<th scope="col">Total</th>
							</tr>
						</thead>
						<tbody>
							{% for ord in order_items %}
							<tr>
								<td>
									<p>{{ord.product.product_id.title}}</p>
								</td>
								<td>
									<h5>x {{ord.quantity}}</h5>
								</td>
								<td>
									<p>Rs {{ord.price}}</p>
								</td>
							</tr>
							{% endfor %}

							<!-- <tr>
								<td>
									<h4>Subtotal</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p>{{order.total_price}}</p>
								</td>
							</tr> -->
							<tr>
								<td>
									<h4>Shipping</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p>Free</p>
								</td>
							</tr>

							{% if order.applied_coupon %}
							<tr>
								<td>
									<h4>Coupon Discount</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p>{{order.applied_coupon.discount}} %</p>
								</td>
							</tr>
							{% endif %}

							<tr>
								<td>
									<h4>Total</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p>{{order.total_price}}</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<button class="mt-5 btn primary-btn"><a href="{% url 'home' %}">Return To Home</a></button>
		</div>
	</section>
	<!--================End Order Details Area =================-->

	{% endblock main %}
