{% extends 'index.html' %}
{% load static i18n %}


{% block head %}

<style>
.dashboard-menu .nav-link.selected{
    background-color: rgb(255, 140, 33);
    color: white;
}
</style>



{% endblock head %}


<body>
	{% block navbar %}

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="{% url 'home' %}"><img style="height: 90px;" src="{% static 'img/log/social.jfif' %}" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
							<li class="nav-item"><a href="{% url 'productList' %}" class="nav-link">Shop</a></li>

							<li class="nav-item">
								<a href="{% url 'wishlist' %}" class="nav-link">Wishlist</a>

							</li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li class="nav-item nav-link"><a href="{% url 'cart' %}" class="cart"><span class="ti-bag"></span></a></li>
							<!-- <li class="nav-item nav-link">
								<button class="search "><span class="lnr lnr-magnifier" id="search"></span></button>
							</li> -->

                            
							{% if user.is_authenticated %}
							<li class="nav-item dropdown">
								<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
								 aria-expanded="false"><span class="ti-user"></span></a>
								<ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link" href="{% url 'user_profile' %}">Profile</a></li>
									<li class="nav-item px-2"><a class="nav-link" href="{% url 'logout' %}">Log out</a></li>
								</ul>
							</li>

							{% else %}
							<li class="nav-item"><a href="{% url 'logIn' %}" class="nav-link"><span>Login</span></a>

							{% endif %}
							


						</ul>
						
					</div>
				</div>
			</nav>
		</div>
		<!-- <div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between">
					<input type="text" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div> -->
	</header>
	{% endblock navbar %}

	<!-- End Header Area -->

	{% block main %}

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Account</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
					</nav>
				</div>
			</div>
		</div>
	</section>
    {% if messages %}
	{% for message in messages %}
		<div class="alert text-danger alert-{{message.tags}}" role="alert">
			{{ message }}
		</div>
	{% endfor %}
	{% endif %}
	<!-- End Banner Area -->


    <!-- User Profile Content -->
    <div class="page-content pt-150 pb-150 m-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="dashboard-menu">
                        <ul class="nav flex-column" role="tablist">
                            <li class="nav-item brdr">
                                <a class="nav-link active" id="dashboard-tab" data-toggle="tab" href="#dashboard-content" role="tab" aria-controls="dashboard-content" aria-selected="true">Dashboard</a>
                            </li>
                            <li class="nav-item brdr">
                                <a class="nav-link" id="orders-tab" data-toggle="tab" href="#orders-content" role="tab" aria-controls="orders-content" aria-selected="false">Orders</a>
                            </li>
                            <li class="nav-item brdr">
                                <a class="nav-link" id="address-tab" data-toggle="tab" href="#address-content" role="tab" aria-controls="address-content" aria-selected="false">Address</a>
                            </li>
                            <li class="nav-item brdr">
                                <a class="nav-link"  href="{% url 'logout' %}">Log out</a>
                            </li>
                            <!-- Add more tabs as needed -->
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content account dashboard-content pl-50">
                        <div class="tab-pane fade show active" id="dashboard-content" role="tabpanel" aria-labelledby="dashboard-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="mb-0">Hello {{ request.user|title }}</h3>
                                </div>
                                <div class="card-body">
                                    <!-- <p>From your account dashboard, you can easily check & view your <a href="#">recent orders</a>,
                                        manage your <a href="#">shipping and billing addresses</a>, and <a href="#">edit your password and account</a>
                                    </p> -->
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="orders-content" role="tabpanel" aria-labelledby="orders-tab">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="mb-0">Your Orders</h3>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Order id</th>
                                                    <th>Date</th>
                                                    <th>Status</th>
                                                    <th>Payment Type</th>
                                                    <th>Total</th>
                                                    <th>Tracking Number</th>
                                                    <th>Order Details</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- Loop through user's orders and populate the table -->
                                                {% for order in order_items %}
                                                <tr>
                                                    <td>#{{ order.id }}</td>
                                                    <td>{{ order.created_at }}</td>
                                                    <td>{{ order.status }}</td>
                                                    <td>{{ order.payment_mode }}</td>
                                                    <td>Rs {{ order.total_price }}</td>
                                                    <td>{{order.tracking_no}}</td>
                                                    <td><a href="{% url 'order_detail' order.id %}" class="btn-small d-block">View</a></td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="address-content" role="tabpanel" aria-labelledby="address-tab">
                            <div class="row">

                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="billing_details">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <h3>Add Address</h3>
                                                    <div class="col-md-12 form-group">
                                                        <div class="row">
                                                            <div class="col-md-6 form-group p_star">
                                                                <input type="text" class="form-control" id="first" name="fname" placeholder="First Name" required>
                                                                {% if address_form.fname.errors %}
                                                                    <p class="text-danger">{{ address_form.fname.errors.0 }}</p>
                                                                {% endif %}
                                                            </div>
                                                            <div class="col-md-6 form-group p_star">
                                                                <input type="text" class="form-control" id="last" name="lname" placeholder="Last Name" required>
                                                                {% if address_form.lname.errors %}
                                                                    <p class="text-danger">{{ address_form.lname.errors.0 }}</p>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                        
                                                    <div class="col-md-12 form-group">
                                                        <div class="row">
                                                    <div class="col-md-6 form-group p_star">
                                                        <input type="number" class="form-control" id="number" name="phone" placeholder="phone number" required>
                                                        {% if address_form.phone.errors %}
                                                            <p class="text-danger">{{ address_form.phone.errors.0 }}</p>
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-md-6 form-group p_star">
                                                        <input type="email" class="form-control" id="email" name="email" placeholder="email" required>
                                                        {% if address_form.email.errors %}
                                                            <p class="text-danger">{{ address_form.email.errors.0 }}</p>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                        
                                                    <div class="col-md-12 form-group p_star">
                                                        <select class="country_select" name="country">
                                                            <option>India</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-12 form-group p_star">
                                                        <input type="text" class="form-control" id="add1" name="address" placeholder="address" required>
                                                        {% if address_form.address.errors %}
                                                            <p class="text-danger">{{ address_form.address.errors.0 }}</p>
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-md-12 form-group p_star">
                                                        <input type="text" class="form-control" id="city" name="city" placeholder="Town/City" required>
                                                        {% if address_form.city.errors %}
                                                            <p class="text-danger">{{ address_form.city.errors.0 }}</p>
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-md-12 form-group p_star">
                                                        <input type="text" class="form-control" id="state" name="state" placeholder="State" required>
                                                        {% if address_form.state.errors %}
                                                            <p class="text-danger">{{ address_form.state.errors.0 }}</p>
                                                        {% endif %}
                                                    </div>
                                                    <div class="col-md-12 form-group">
                                                        <input type="number" class="form-control" id="zip" name="pincode" placeholder="Pincode/ZIP" required>
                                                        {% if address_form.pincode.errors %}
                                                            <p class="text-danger">{{ address_form.pincode.errors.0 }}</p>
                                                        {% endif %}
                                                    </div>
                                                    <button type="submit" class="btn primary-btn w-100">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>

                                </form>
                        

                                {% for a in address %}
                                
                                <div class="col-lg-6 mt-5">
                                    <div class="card">

                                        <div class="card-header">
                                            <h3 class="mt-5">Address {{forloop.counter }}</h3>
                                        </div>
        
                                        <div class="card-body border rounded">
                                            <address>
                                                <p>{{a.city}}, {{a.state}}</p>
                                                <p> {{a.country}}</p>
                                                <p>{{a.address}}</p>
                                                <p>{{a.pincode}}</p>
                                                <p>{{a.phone}}</p>
                                                <p>{{a.email}}</p>                                
                                            </address>

                                            {% if a.status %}
                                                <i data-address-id="{{a.id}}" class="fa fa-check-circle text-success check{{a.id}} check"></i>
                                                <button data-address-id="{{a.id}}" style="display: none;" class="btn primary-btn make-dafault-address button{{a.id}} action_btn">Make Default</button>

                                            {% else %}
                                                <i data-address-id="{{a.id}}" style="display: none;"  class="fa fa-check-circle text-success check check{{a.id}}"></i>
                                                <button data-address-id="{{a.id}}" class="btn primary-btn make-dafault-address button{{a.id}} action_btn">Make Default</button>
                                            {% endif %}
        
        
                                        </div>
                                    </div>

                                </div>
                                {% endfor %}

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End User Profile Content -->
    {% endblock main %}

    {% block script %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
        // Add JavaScript to handle tab switching
        $(document).ready(function() {
            $('.nav-link').on('click', function() {
                // Hide all tab content
                $('.tab-pane').removeClass('show active');
                
                // Show the clicked tab content
                var target = $(this).attr('href');
                $(target).addClass('show active');
            });
        });
    </script>

<script>
    $(document).ready(function() {
      $('.nav-link').on('click', function() {
        // Remove the 'selected' class from all tabs
        $('.nav-link').removeClass('selected');
        
        // Add the 'selected' class to the clicked tab
        $(this).addClass('selected');
        
        // Hide all tab content
        $('.tab-pane').removeClass('show active');
        
        // Show the clicked tab content
        var target = $(this).data('target');
        $(target).addClass('show active');
      });
    });
  </script>
    <script src="{% static 'js/function.js' %}"></script>

    {% endblock script %}
