{% extends 'index.html' %}
{% load static i18n %}


{% block head %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/alertify.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/css/themes/default.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.min.js"></script>

{% endblock head %}

	<!-- Start Header Area -->

{% block navbar %}
		
		
<header class="header_area sticky-header">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="{% url 'home' %}"><img style="height: 90px;" src="{% static 'img/log/social.jfif' %}" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
                        <li class="nav-item"><a href="{% url 'productList' %}" class="nav-link">Shop</a>
                            <!-- <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="category.html">Shop Category</a></li>
                                <li class="nav-item"><a class="nav-link" href="single-product.html">Product Details</a></li>
                                <li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a></li>
                                <li class="nav-item"><a class="nav-link" href="cart.html">Shopping Cart</a></li>
                                <li class="nav-item"><a class="nav-link" href="confirmation.html">Confirmation</a></li>
                            </ul> -->
                        </li>
                        <!-- <li class="nav-item active"><a href="{% url 'productList' %}" class="nav-link">Female</a> -->
                            <!-- <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="blog.html">Women</a></li>
                                <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
                            </ul> -->
                        <!-- </li> -->
                        <li class="nav-item">
                            <a href="#" class="nav-link active">Wishlist</a>
                            <!-- <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
                                <li class="nav-item"><a class="nav-link" href="tracking.html">Tracking</a></li>
                                <li class="nav-item"><a class="nav-link" href="elements.html">Elements</a></li>
                            </ul> -->
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item nav-link"><a href="{% url 'cart' %}" class="cart"><span class="ti-bag"></span></a></li>
                        <!-- <li class="nav-item nav-link">
                            <button class="search "><span class="lnr lnr-magnifier" id="search"></span></button>
                        </li> -->
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                             aria-expanded="false"><span class="ti-user"></span></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="{% url 'user_profile' %}">Profile</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log out</a></li>
                            </ul>
                        </li>

                        {% else %}
                        <li class="nav-item"><a href="{% url 'logIn' %}" class="nav-link"><span>Login</span></a>

                        {% endif %}


                    </ul>
                    
                </div>
            </div>
        </nav>
    </div>
    <!-- <div class="search_input" id="search_input_box">
        <div class="container">
            <form class="d-flex justify-content-between">
                <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                <button type="submit" class="btn"></button>
                <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
            </form>
        </div>
    </div> -->
</header>
{% endblock navbar %}

<!-- End Header Area -->

{% block main %}


<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shopping Cart</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="category.html">Wishlist</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->


	<!-- start product Area -->
	<section class="pt-5 wishlist-container">
		<!-- single product slide -->
		<div class="single-product-slider">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							<h1>My Wishlist</h1>

                            
						</div>
					</div>
				</div>
				<div class="row">
					<!-- single product -->
					{% for wish in wishlist %}
					<div class="col-lg-3 col-md-6">
						<div class="single-product">
							<a href="{% url 'productDetail' wish.product.slug %}"><img class="img-fluid" style="width: 200px; height: 110px; margin-top: 10px;" src="{{wish.product.img.url}}" alt=""></a>
							<div class="product-details">
								<h5>{{wish.product.brand_id.brand_name}}</h5>
								<h6>{{ wish.product.product_id.title }}</h6>
								<div class="price">
									<h6>RS {{ wish.product.price }}</h6>
                                    {% if wish.product.stock == 0 %}
                                    <h6 style="color: red;">Out of stock</h6>
                                    {% endif %}
									<!-- <h6 class="l-through">$210.00</h6> -->
								</div>
								<div class="prd-bottom prd-data">
                                    {% csrf_token %}

                                    <input type="hidden" class="product-id" value="{{ wish.product.id}}">
									<input type="hidden" id="sst" value="1">


                                    {% if wish.product.stock == 0 %}
                                        <p class=></p>
                                    {% else %}
									<a href="" class="social-info add-cart">
										<span class="ti-bag"></span>
										<p class="hover-text">Add to bag</p>
									</a>
                                    {% endif %}

									<a href="#" class="social-info delete-wishlist" data-id="{{ wish.id }}">
										<span class="ti-trash"></span>
										<p class="hover-text">Remove</p>
									</a>

                                    

								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
		
	</section>
	<!-- end product Area -->
{% endblock main %}

{% block script %}

<script>
    $(document).ready(function () {

        // Add to cart functionality
			$(".add-cart").on("click", function (e) {
				e.preventDefault();
		
				console.log("cart function is called");
		
		
				let quantity = $("#sst").val();
				let product_id = $(this).closest(".single-product").find(".product-id").val(); // Retrieve product ID using .closest() and .find()
				var token = $('input[name=csrfmiddlewaretoken]').val();
		
				console.log("quantity:", quantity);
				console.log("product id:", product_id);
		
				$.ajax({
					type: "POST",
					url: "/cart/add_to_cart/",
					data: {
						'id': product_id,
						'qty': quantity,
						// 'title': product_title,
						// 'price': product_price,
						csrfmiddlewaretoken: token,
					},
					dataType: "json",
					beforeSend: function() {
						console.log("Adding product to Cart");
					},
					success: function(response){
						console.log(response)
						alertify.success(response.status)
						// window.alert(response.status)
						console.log("Added product to Cart");
					}
				})
			});

	});

</script>



<script src="{% static 'js/function.js' %}"></script>

{% endblock script %}
